<?xml version='1.0' encoding='utf-8'?>
<robot name="quadcopter">
    <link name="base_link">
        <inertial>
            <mass>1.5</mass>
        </inertial>
        <visual>
            <geometry>
                <mesh filename="C:/Users/user/ardupilot/Tools/gazebo/models/quadcopter_X/quadcopter_X.stl" />
            </geometry>
        </visual>
    </link>
    <link name="propeller1">
        <inertial>
            <mass>0.2</mass>
            <inertia>
                <ixx>0.01</ixx>
                <ixy>0.01</ixy>
                <ixz>0.01</ixz>
                <iyy>0.01</iyy>
                <iyz>0.01</iyz>
                <izz>0.01</izz>
            </inertia>
        </inertial>
        <visual>
            <geometry>
                <cylinder radius="1.5" length="10" />
            </geometry>
            <material name="black">
                <color rgba="0 0 0 1" />
            </material>
        </visual>
        <propeller_speed>6000</propeller_speed>
    </link>
    <link name="propeller2">
        <inertial>
            <mass>0.2</mass>
            <inertia>
                <ixx>0.01</ixx>
                <ixy>0.01</ixy>
                <ixz>0.01</ixz>
                <iyy>0.01</iyy>
                <iyz>0.01</iyz>
                <izz>0.01</izz>
            </inertia>
        </inertial>
        <visual>
            <geometry>
                <cylinder radius="1.5" length="10" />
            </geometry>
            <material name="black">
                <color rgba="0 0 0 1" />
            </material>
        </visual>
        <propeller_speed>6000</propeller_speed>
    </link>
    <link name="propeller3">
        <inertial>
            <mass>0.2</mass>
            <inertia>
                <ixx>0.01</ixx>
                <ixy>0.01</ixy>
                <ixz>0.01</ixz>
                <iyy>0.01</iyy>
                <iyz>0.01</iyz>
                <izz>0.01</izz>
            </inertia>
        </inertial>
        <visual>
            <geometry>
                <cylinder radius="1.5" length="10" />
            </geometry>
            <material name="black">
                <color rgba="0 0 0 1" />
            </material>
        </visual>
        <propeller_speed>6000</propeller_speed>
    </link>
    <link name="propeller4">
        <inertial>
            <mass>0.2</mass>
            <inertia>
                <ixx>0.01</ixx>
                <ixy>0.01</ixy>
                <ixz>0.01</ixz>
                <iyy>0.01</iyy>
                <iyz>0.01</iyz>
                <izz>0.01</izz>
            </inertia>
        </inertial>
        <visual>
            <geometry>
                <cylinder radius="1.5" length="10" />
            </geometry>
            <material name="black">
                <color rgba="0 0 0 1" />
            </material>
        </visual>
        <propeller_speed>6000</propeller_speed>
    </link>
    <link name="flight_controller">
        <inertial>
            <mass>0.3</mass>
        </inertial>
        <visual>
            <geometry>
                <box size="10 10 2" />
            </geometry>
            <material name="blue">
                <color rgba="0 0 1 1" />
            </material>
        </visual>
    </link>
    <link name="mpu6050">
        <visual>
            <geometry>
                <box size="2 2 1" />
            </geometry>
            <material name="red">
                <color rgba="1 0 0 1" />
            </material>
        </visual>
    </link>
    <link name="bmp180">
        <visual>
            <geometry>
                <box size="2 2 1" />
            </geometry>
            <material name="green">
                <color rgba="0 1 0 1" />
            </material>
        </visual>
    </link>
    <link name="gps_module">
        <visual>
            <geometry>
                <box size="2 2 1" />
            </geometry>
            <material name="yellow">
                <color rgba="1 1 0 1" />
            </material>
        </visual>
    </link>
    <link name="bluetooth_module">
        <visual>
            <geometry>
                <box size="2 2 1" />
            </geometry>
            <material name="purple">
                <color rgba="0.5 0 0.5 1" />
            </material>
        </visual>
    </link>
    <joint name="base_to_propeller1" type="fixed">
        <parent link="base_link" />
        <child link="propeller1" />
        <origin rpy="0 0 0" xyz="-25 0 2.5" />
    </joint>
    <joint name="base_to_propeller2" type="fixed">
        <parent link="base_link" />
        <child link="propeller2" />
        <origin rpy="0 0 0" xyz="25 0 2.5" />
    </joint>
    <joint name="base_to_propeller3" type="fixed">
        <parent link="base_link" />
        <child link="propeller3" />
        <origin rpy="0 0 0" xyz="0 -25 2.5" />
    </joint>
    <joint name="base_to_propeller4" type="fixed">
        <parent link="base_link" />
        <child link="propeller4" />
        <origin rpy="0 0 0" xyz="0 25 2.5" />
    </joint>
    <joint name="base_to_flight_controller" type="fixed">
        <parent link="base_link" />
        <child link="flight_controller" />
        <origin rpy="0 0 0" xyz="0 0 6" />
    </joint>
    <joint name="controller_to_mpu6050" type="fixed">
        <parent link="flight_controller" />
        <child link="mpu6050" />
        <origin rpy="0 0 0" xyz="3 0 1" />
    </joint>
    <joint name="controller_to_bmp180" type="fixed">
        <parent link="flight_controller" />
        <child link="bmp180" />
        <origin rpy="0 0 0" xyz="-3 0 1" />
    </joint>
    <joint name="controller_to_gps" type="fixed">
        <parent link="flight_controller" />
        <child link="gps_module" />
        <origin rpy="0 0 0" xyz="0 3 1" />
    </joint>
    <joint name="controller_to_bluetooth" type="fixed">
        <parent link="flight_controller" />
        <child link="bluetooth_module" />
        <origin rpy="0 0 0" xyz="0 -3 1" />
    </joint>
</robot>
<!-- Параметры полета -->
<!-- Скорость взлета: 3 м/с -->
<!-- Максимальная высота: 10 м -->
<!-- Скорость вращения пропеллеров: 6000 об/мин -->
